.heading{
display: flex;
justify-content: center;
padding: 40px;
font-size: 200%;
font-weight: bold;
font-style: oblique;
text-decoration: underline;
}

.container{
 display: flex;
 justify-content: space-evenly;
 margin-left: 20% ;
 margin-right: 20% ;
}

.blue-container{
color: blue;
margin-bottom: 30px;
font-style:italic;
font-weight: 500;
font-size: large;
}

.red-container{
  color: red;
  margin-bottom: 30px;
font-style:italic;
font-weight: 500;
font-size: large;
  }

  .blue-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border: solid black;
    border-radius: 5px;
    width:30%;
    background-color: blue;
  }

  .red-boxes{
    /* display: flex; */
    padding: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border: solid black;
    border-radius: 5px;
    width:30%;
    background-color: red;
    overflow: hidden;
  }

  .margin{
    margin-top: 3%;
  }